// Colors
$white-color: #fff;
$gray-color: #cacaca;
$blue-color: #3483fa;
$blue-dark-color: #2076f7;
$sky-color: #a0d2f6;
$green-color: #22d16b;
$yellow-color: #fee600;
$black-color: #000;

// Elements colors
$body-color: #eeeeee;
$title-color: #333;
$text-color: #666;
$border-color: #e0e0e0;
